body{
    background: yellowgreen;
}

.filter {
    text-align: center;
    margin: 2rem auto;
}

.filter a {
    text-align: center;
    padding: .7rem 1rem;
    background: crimson;
    color: white;
    text-decoration: none;
}

.filter a.current { background: orangered; }

.boxGroup { text-align: center; }

.boxGroup div {
    width: 250px;
    height: 250px;
    display: inline-block;
    /* background-color: aliceblue; */
}

.one{
    background-color: #6CA1FF;
}

.two{
    background-color: #4165a3;
}

.three{
    background-color: #8eabdd;
}